<% provide(:title, 'Sample App') %>

<h1>About</h1>
<p>
  This Sample App is made possible by
  <a href="https://edgeguides.rubyonrails.org/6_0_release_notes.html" target="_blank">
    <em>Ruby on Rails 6.</em>
  </a>
</p>