<% provide(:title, 'Sample App') %>

<h1>About</h1>
<p>
  This Sample App is made possible by
  <a href="https://edgeguides.rubyonrails.org/6_0_release_notes.html" target="_blank" rel="noopener"> <!--Using rel="noopener" to prevent a third-party site from introducing malicious content via window object.-->
    <em>Ruby on Rails 6.</em>
  </a>
</p>