<% provide(:title, 'Sample App') %>

<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://guides.rubyonrails.org/getting_started.html" target="_blank">Rails Tutorial Help page</a>.
</p>