<footer class="footer">
  <small>Sample App</small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.bbc.com/news/world" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>